import { defineConfig } from 'vitest/config'
import react from '@vitejs/plugin-react'

// https://vite.dev/config/
export default defineConfig({
  plugins: [react()],
  base: "",
  build: {
    outDir: '../{{ _external_data.fastapi.fastapi_app_name }}/static/',
  },
  server: {
    proxy: {
      '/api/v1': {
        target: 'http://localhost:{{ _external_data.fastapi.fastapi_local_port }}',
        changeOrigin: true,
      }
    }
  },
  test: {
    globals: true,
    environment: 'jsdom',
    setupFiles: './src/setupTests.ts',
  },
})
