import { type RouteObject{% if 'react_chat' in my_transitive_reverse_dependency_modules %}, Navigate{% endif %} } from 'react-router-dom';
{% if 'react_chat' in my_transitive_reverse_dependency_modules %}
import { MainLayout } from '@/pages/MainLayoutWithChatList';
{% endif %}
{{ "" | subcomponent_include("routesConfig_imports.jinja") }}

export const appRoutes: RouteObject[] = [
    {{ "" | subcomponent_include("top_level_routes.jinja") }}
    {
{% if 'react_chat' in my_transitive_reverse_dependency_modules %}
        element: <MainLayout />,
{% endif %}
        children: [
            {{ "" | subcomponent_include("main_layout_children.jinja") }}
        ],
    },
];
