import { type RouteObject } from 'react-router-dom';
{% if 'react-chat' in topological_labels %}
import { MainLayout } from '@/pages/MainLayoutWithChatList';
{% endif %}
{{ "" | subcomponent_include("routesConfig_imports.jinja") }}

export const appRoutes: RouteObject[] = [
    {{ "" | subcomponent_include("top_level_routes.jinja") }}
    {
{% if 'react-chat' in topological_labels %}
        element: <MainLayout />,
{% endif %}
        children: [
            {{ "" | subcomponent_include("main_layout_children.jinja") }}
        ],
    },
];
