---
name: Run vitest for {{ react_app_name }}

on:
  push:
    branches: ["main"]
    paths:
      - 'src/**'

  pull_request:
    branches: ["main"]
    paths:
      - 'src/**'

  workflow_dispatch:

jobs:
  tests:
    name: "React vitest: {{ react_app_name }} {% raw %}${{ matrix.node-version }}{% endraw %}"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend_web

    strategy:
      matrix:
        node-version: ["20", "21", "22"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js {% raw %}${{ matrix.node-version }}{% endraw %}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm install
        working-directory: {{ react_app_name }}

      - name: Run Vitest
        run: npm run test
        working-directory: {{ react_app_name }}
