# {{ _external_data.base.template_name }}: React App {{ react_app_name }}


## Tech Stack

- React 18 with TypeScript
- Vite for fast development and building
- Tailwind CSS for styling
- Jest for testing
- React Query for API state management


## Development

To start the development server:

```bash
bun i
bun run dev
```

